@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #030014;
  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;
  --color-accent: #ab8bff;
  --color-gray-100: #9ca4ab;
  --color-dark-100: #0f0d23;
  --font-dm-sans: DM Sans, sans-serif;
  --breakpoint-xs: 480px;
  --background-image-hero-pattern: url('/bg.webp');
  --shadow-footer: 0px 0px 10px 2px var(--color-light-100);
}

@layer base {
  body {
    font-family: 'DM Sans', serif;
    font-optical-sizing: auto;
    @apply min-h-screen relative bg-primary;
  }

  #root {
    @apply min-h-screen flex flex-col;
  }

  h1 {
    @apply mx-auto max-w-[745px] text-center text-5xl font-bold leading-tight tracking-[-1%] text-white sm:text-[56px] sm:leading-[64px];
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    @apply overflow-hidden;
  }

  [disabled] {
    @apply pointer-events-none opacity-50;
  }
}

@layer components {
  .pattern {
    @apply bg-hero-pattern w-full h-screen bg-center bg-cover absolute top-0 left-0 z-0;
  }

  .wrapper {
    @apply px-5 max-w-[1440px] mx-auto flex flex-col relative z-10;
  }

  .hero img {
    @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
  }

  header img {
    @apply max-w-sm h-auto object-contain mx-auto drop-shadow-md;
  }

  footer {
    @apply relative z-1 text-light-100 py-5 mt-auto shadow-footer;

    & svg {
      fill: var(--color-light-100);
      transition: all 0.5s;

      &:hover {
        fill: var(--color-accent);
      }
    }
  }

  .trending {
    @apply mb-21;

    & h2 {
      @apply mb-[20px];
    }

    & ul {
      @apply grid grid-cols-1 min-[400px]:grid-cols-2 gap-1.5 sm:grid-cols-3 lg:grid-cols-6;
    }

    & ul li {
      @apply flex flex-row items-center justify-center md:justify-start;
    }

    & ul li p {
      @apply fancy-text mt-[12px] text-nowrap leading-none w-[87px] text-right;
    }

    & ul li img {
      @apply w-[107px] h-[143px] rounded-lg object-cover -ml-1.5;
    }
  }

  .search {
    @apply w-full bg-light-100/5 px-4 py-3 rounded-lg mt-7 mb-[100px] max-w-[640px] mx-auto;

    & div {
      @apply relative flex items-center;
    }

    & .searchSvg {
      @apply absolute left-2 h-5 w-5;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-xl text-gray-200 placeholder-light-200 outline-hidden;
    }
  }

  .movies {
    @apply space-y-9 mb-8;

    & ul {
      @apply grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
    }
  }

  .movie-card {
    @apply bg-dark-100 p-5 rounded-2xl shadow-inner shadow-light-100/10 h-full;

    & .ratio-box {
      @apply w-full h-0 pt-[100%] relative overflow-hidden;
    }

    & img {
      @apply rounded-lg h-full w-full object-cover absolute top-0;
    }

    & h3 {
      @apply text-white font-bold text-base line-clamp-1 mb-2;
    }

    & .content,
    & .genres {
      @apply flex flex-row items-center flex-wrap gap-1;
    }

    & .rating {
      @apply flex flex-row items-center gap-1;
    }

    & .rating img {
      @apply size-4 object-contain;
    }

    & .rating p {
      @apply font-bold text-base text-white;
    }

    & .content span {
      @apply text-sm text-gray-100;
    }

    & .content .lang,
    & .genres span {
      @apply capitalize text-gray-100 font-medium text-base;
    }

    & .genres span::after {
      content: '•';
      margin-left: 4px;
      font-size: 14px;
    }

    & .content .year {
      @apply text-gray-200 font-medium text-base;
    }
  }

  .pagination {
    @apply text-light-100 text-lg mb-8 flex justify-center sm:justify-between items-center gap-2;

    .page-numbers_wrap {
      @apply flex gap-1 sm:gap-2;
    }

    & .pagination_button {
      @apply bg-dark-100 min-w-[40px] md:min-w-[45px] lg:min-w-[54px] py-3 px-1 sm:px-1.5 md:px-2 lg:px-3 rounded-lg shadow-inner text-center shadow-light-100/10 cursor-pointer transition-colors duration-500 hover:bg-light-100 hover:text-dark-100 text-[10px] xs:text-xs  md:text-base lg:text-lg;
    }

    & .pagination_button.active {
      @apply pointer-events-none text-accent shadow-accent;
    }

    & .pagination_button.prev {
      & svg {
        @apply rotate-180;
      }
    }

    & .pagination_button.prev,
    & .pagination_button.next {
      @apply hidden sm:inline-flex justify-center;
    }

    & .pagination_ellipsis {
      @apply pointer-events-none hidden xs:inline-block;
    }
  }
}

@utility text-gradient {
  @apply bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
}

@utility fancy-text {
  -webkit-text-stroke: 1px rgba(206, 206, 251, 0.5);
  font-size: 140px;
  font-weight: bold;
  font-family: DM Sans;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
