@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #030014;
  --color-overlay: #030014b8;
  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;
  --color-accent: #ab8bff;
  --color-gray-100: #9ca4ab;
  --color-dark-100: #0f0d23;
  --font-dm-sans: dm sans, sans-serif;
  --breakpoint-xs: 480px;
  --background-image-hero-pattern: url('/bg.webp');
  --shadow-footer: 0 0 10px 2px var(--color-light-100);
  --shadow-details: 0 0 60px 10px #eecefb5c;
  --shadow-trending: 0 0 15px 1px #eecefb5c;
}

@layer base {
  body {
    font-family: 'DM Sans', serif;
    font-optical-sizing: auto;

    @apply min-h-screen relative bg-primary;
  }

  #root {
    @apply min-h-screen flex flex-col;
  }

  h1 {
    @apply mx-auto max-w-[745px] text-center text-5xl font-bold leading-tight tracking-[-1%] text-white sm:text-[56px] sm:leading-[64px];
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl mb-7;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    @apply overflow-hidden;
  }

  [disabled] {
    @apply pointer-events-none opacity-50;
  }

  button {
    @apply cursor-pointer duration-300;
  }

  .button {
    @apply bg-light-100/10 p-4 rounded-lg shadow-inner text-center shadow-light-100/10 text-light-100;
  }

  .button-top {
    @apply opacity-0 -translate-y-10 -rotate-90 fixed z-10 w-[40px] h-[40px] p-0 flex items-center justify-center bottom-5 right-1 hover:bg-light-100/20;
  }

  .button-top__visible {
    @apply opacity-100 translate-y-0;
  }
}

@layer components {
  .pattern {
    @apply bg-hero-pattern w-full h-screen bg-center bg-cover absolute top-0 left-0 z-0;
  }

  .wrapper {
    @apply px-2 sm:px-5 md:px-11 max-w-[1620px] mx-auto flex flex-col relative z-10;
  }

  .hero_posters-wrap:nth-child(1) {
    @apply -rotate-5 z-1 mr-[-6px];
  }

  .hero_posters-wrap:nth-child(2) {
    @apply rotate-0 z-2 scale-105 -translate-y-4;
  }

  .hero_posters-wrap:nth-child(3) {
    @apply rotate-5 z-1 ml-[-6px];
  }

  header img {
    @apply max-w-sm h-auto object-contain mx-auto drop-shadow-md;
  }

  footer {
    @apply relative z-1 text-light-100 py-5 mt-auto shadow-footer;

    & svg {
      fill: var(--color-light-100);
      transition: all 0.5s;

      &:hover {
        fill: var(--color-accent);
      }
    }
  }

  .trending {
    @apply mb-21;

    .carousel_container {
      @apply flex overflow-hidden;

      .track-wrap {
        @apply grow overflow-hidden;
      }

      .carousel_button-wrap {
        @apply self-center flex items-center justify-center size-14 flex-none  h-full bg-primary;
      }

      button {
        @apply w-[20px] h-[120px] flex items-center justify-center bg-dark-100 text-light-100 rounded-lg shadow-inner text-center shadow-light-100/10 transition-colors hover:bg-light-100 hover:text-dark-100 text-[10px] xs:text-xs  md:text-base lg:text-lg;
      }

      .carousel_button-wrap.next {
        @apply rotate-180;
      }
    }

    & ul {
      @apply flex;
    }

    & ul li {
      @apply relative shrink-0 transition-transform duration-300 hover:scale-105;
    }

    & ul li div {
      @apply h-full rounded-lg overflow-hidden duration-300;
    }

    & ul li:hover div {
      @apply shadow-trending;
    }

    & ul li a {
      @apply block w-[190px] h-[265px] p-4;
    }

    & ul li p {
      @apply fancy-text pl-4 text-nowrap text-left leading-none absolute z-1 bottom-[10px] left-[-12px];
    }

    & ul li img {
      @apply block w-full h-full object-cover;
    }
  }

  .search {
    @apply w-full bg-light-100/5 px-4 py-3 rounded-lg mt-7 mb-[80px] max-w-[640px] mx-auto;

    & div {
      @apply relative flex items-center;
    }

    & .searchSvg {
      @apply absolute left-2 h-5 w-5;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-xl text-gray-200 placeholder-light-200 outline-hidden;
    }
  }

  .movies {
    @apply mb-10;

    & ul {
      @apply grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
    }
  }

  .movie-card {
    @apply bg-dark-100 p-5 rounded-2xl shadow-inner shadow-light-100/10 h-full;

    & .ratio-box {
      @apply w-full h-0 pt-[140%] relative overflow-hidden;
    }

    & img {
      @apply rounded-lg h-full w-full object-cover absolute top-0;
    }

    & h3 {
      @apply text-white font-bold text-base line-clamp-1 mb-2;
    }

    & .content,
    & .genres {
      @apply flex flex-row items-center flex-wrap gap-1;
    }

    & .rating {
      @apply flex flex-row items-center gap-1;
    }

    & .rating img {
      @apply size-4 object-contain;
    }

    & .rating p {
      @apply font-bold text-base text-white;
    }

    & .content span {
      @apply text-sm text-gray-100;
    }

    & .content .lang,
    & .genres span {
      @apply capitalize text-gray-100 font-medium text-base;
    }

    & .genres span::after {
      content: '•';
      margin-left: 4px;
      font-size: 14px;
    }

    & .content .year {
      @apply text-gray-200 font-medium text-base;
    }
  }

  .pagination {
    @apply text-light-100 text-lg mb-8 flex justify-center sm:justify-between items-center gap-2;

    .page-numbers_wrap {
      @apply flex gap-1 sm:gap-2;
    }

    & .pagination_button {
      @apply bg-dark-100 min-w-[40px] md:min-w-[45px] lg:min-w-[54px] py-3 px-1 sm:px-1.5 md:px-2 lg:px-3 rounded-lg shadow-inner text-center shadow-light-100/10 transition-colors duration-500 hover:bg-light-100 hover:text-dark-100 text-[10px] xs:text-xs  md:text-base lg:text-lg;
    }

    & .pagination_button.active {
      @apply pointer-events-none text-accent shadow-accent;
    }

    & .pagination_button.prev {
      & svg {
        @apply rotate-180;
      }
    }

    & .pagination_button.prev,
    & .pagination_button.next {
      @apply hidden sm:inline-flex justify-center;
    }

    & .pagination_ellipsis {
      @apply pointer-events-none hidden xs:inline-block;
    }
  }
}

@utility text-gradient {
  @apply bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
}

@utility bg-gradient {
  @apply bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF];
}

@utility bg-gradient-hover {
  @apply bg-linear-to-r from-[#ccbafb] to-[#8462db];
}

@utility fancy-text {
  font-size: 120px;
  font-weight: bold;
  font-family: 'DM Sans';
  color: #030014;
  text-shadow: 0px 0px 5px #ccbafb;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility category-shadow {
  box-shadow:
    inset 0 1px 0 0 #f4f4f4,
    0 4px 8px 0 #cecece;
}

@utility category-shadow-hover {
  transform: translateY(3px);
  box-shadow:
    inset 0 1px 0 0 #f4f4f4,
    0 2px 8px 0 #cecece;
}
