@use './variables.scss' as var;
@use 'sass:color';

@mixin container {
  max-width: 1600px;
  padding: 0 10px;
  margin: 0 auto;
}

@mixin button-styled($bg-color, $color) {
  & {
    width: 120px;
    padding: 12px;
    border-radius: 5px;
    background-color: $bg-color;
    color: $color;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: color.adjust($bg-color, $lightness: -5%);
    }
  }
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
